# Standard Flutter Exclusions
build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Android Exclusions
.gradle/
local.properties
*.apk
*.aab
*.keystore
!/android/app/key.properties

# OS Exclusions
.DS_Store
node_modules/
